  <div class="column">
    <div class="card">
    <img src=<%=period['icon']%> >
    <ul>
      <li><%= period['name']%></li>
      <li><%= period['temperature'] %></li>
      <li><%= period['shortForecast'] %></li>
    </ul>
    </div>
  </div>
  