<div class="container">
  <div class="vertical-center" data-controller="location">
    <h1 data-location-target="output"></h1>
    <button data-action='click->location#fetch'>Current Weather</button>
  </div>
</div>